@import "../../global.scss";

.projects {
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .h1 {
    color: $primaryColor;
    position: absolute;
    top: 0;
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    @include mobile {
      height: 30px;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
      @include mobile {
        left: 10px;
      }
    }

    &.right {
      right: 100px;
      @include mobile {
        right: 10px;
      }
    }
  }

  .slider {
    height: 400px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 600px;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: $primaryColor;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @include mobile {
          width: 70%;
          height: 350px;
          margin: 5px 0;
          border-radius: 8px;
        }

        .left {
          flex: 6;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;

          .leftContainer {
            width: 90%;
            height: 85%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
              height: 95%;
            }

            .name {
              font-size: 20px;
              font-weight: 500;
              text-transform: uppercase;
              @include mobile {
                font-size: 16px;
              }

              p {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
                text-transform: none;

                @include mobile {
                  font-size: 12px;
                }
              }
            }

            .icons {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              position: absolute;
              left: 20px;
              bottom: 20px;
              display: flex;

              .icon {
                display: flex;
                height: 30px;
                width: 30px;
                margin: auto;
                color: $mainColor;
                cursor: pointer;

                &:last-child {
                  margin-left: 240px;

                  @include mobile {
                    margin-left: 45vw;
                  }
                }
              }
            }
          }
        }

        .right {
          flex: 6;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mobile {
            display: none;
          }

          img {
            width: 400px;
            transform: rotate(-10deg);
            overflow: hidden;
          }
        }
      }
    }
  }
}
