@import "../../global.scss";

.edu {
  height: 320px;
  width: 650px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include mobile {
    margin: 10%;
  }
  .institute {
    font-size: 30px;
    font-weight: 500;

    color: $mainColor;
    @include mobile {
      text-align: center;
      font-size: 20px;
      width: 80%;
    }

    .icon {
      height: 50px;
      width: 50px;
      display: flex;
      margin: 0 auto;
      margin-bottom: -50px;
      @include mobile {
        margin-bottom: -20px;
      }
    }
  }

  .city {
    font-size: 30px;
    font-weight: 500;
    color: $mainColor;
    @include mobile {
      font-size: 20px;
    }
  }

  .stream {
    font-size: 20px;
    font-weight: 500;
    @include mobile {
      font-size: 18px;
      width: 80%;
      text-align: center;
    }
  }

  .branch {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: $mainColor;
    @include mobile {
      font-size: 16px;
    }
  }

  .details {
    font-size: 20px;
    font-weight: 400;
    @include mobile {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
