@import "../../global.scss";

.skills {
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  @include mobile {
    justify-content: space-around;
  }

  .container {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
      height: 100%;
    }
  }
}
