@import "../../global.scss";

.contact {
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  position: relative;
  @include mobile {
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer {
    display: flex;
    position: absolute;
    justify-content: space-around;
    background-color: $secondaryColor;
    bottom: 0;
    height: 227px;
    width: 100vw;
  }
}
