@import "../../global.scss";

.links {
  display: flex;
  flex-direction: column;
  div {
    color: $primaryColor;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  a {
    text-transform: none;
    color: $primaryColor;
    text-decoration: none;
  }
}
