@import "../../global.scss";
.navbar {
  background-color: $primaryColor;
  color: $mainColor;
  width: 100%;
  height: 70px;
  top: 0;
  position: fixed;
  z-index: 3;
  transition: 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      .logo {
        font-size: 32px;
        font-weight: 700;
        text-decoration: none;
        color: $secondaryColor;
        margin-right: 20px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
    }

    .right {
      display: flex;
      .link {
        a {
          text-decoration: none;
          margin: 0 10px;
          color: $secondaryColor;
          font-size: 20px;

          @include mobile {
            display: none;
          }
        }
      }
      .hamburger {
        display: none;
        @include mobile {
          width: 32px;
          height: 25px;
          display: flex;
          cursor: pointer;
          flex-direction: column;
          justify-content: space-between;
        }

        span {
          width: 100%;
          height: 3px;
          background-color: $secondaryColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: $primaryColor;

    .hamburger {
      span {
        &:first-child {
          background-color: $primaryColor;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          background-color: $primaryColor;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
